.location {
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem;
    max-width: 1200px;
}

.locationBox {
    flex: 1;
}

.locationInnerBox {
    padding: 0 .5rem;
    width: 100%;
    margin: 0 auto;
}

.locationMap {
    flex: 1;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.locationHeader {
    font-size: .85rem;
    text-transform: uppercase;
    letter-spacing: .75rem;
    font-weight: 100;
    padding-bottom: 1rem;
}

.locationHeader2 {
    font-size: 2.75rem;
    color: #033033;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 1.25rem;
}

.locationBox p {
    color: inherit;
    line-height: 1.75rem;
    font-family: 'EBGaramond', sans-serif;
    font-size: 1.15rem;
    letter-spacing: .5px;
}

.link {
    text-decoration: underline;
    margin-top: 3rem;
    display: block;
}

.listButton {
    background-color: #000;
    cursor: pointer;
    text-transform: uppercase;
    color: inherit;
    border: 1px solid #000;
    padding: .5rem 2rem;
    display: block;
    color: #fff;
    margin-top: 1.5rem;
}

.locationDesktop {
    display: none;
}

.landingImage {
    height: 35vh;
}

.aboutContainer {
    max-width: 600px;
}

.aboutContainer > img {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .location {
        flex-direction: row;
        padding: 4rem 0;
    }

    .locationMap {
        flex: 1;
        margin: 0 auto;
    }

    .locationMobile {
        display: none;
    }

    .locationDesktop {
        display: block;
    }

    .locationInnerBox {
        width: 80%;
        padding: 0 .5rem;
    }

    #epitome-home{      
        content:url("/images/vivera-home.webp");
    } 
}